@import "tailwindcss";
@plugin "daisyui"{
    /* themes: ["forest", "synthwave", "cyberpunk", "valentine", "halloween", "garden", "lofi", "pastel", "fantasy", "wireframe", "black", "luxury", "dracula", "cmyk", "autumn", "business", "acid", "lemonade", "night", "coffee", "winter"]; */
    themes: all;
};

/* Add cursor pointer to buttons by default - this is coming from tailwind docs */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
